.ai__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
}

.ai__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ai__navbar-links-logo {
  margin-right: 2rem;
}

.ai__navbar-links_logo h1 {
  font-family: var(--font-family);
  color: #fff;
  font-size: 1.5rem;
}

.ai__navbar-links_container {
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
}

.ai__navbar-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.ai__navbar-links_container p,
.ai__navbar-sign p,
.ai__navbar-menu_container p {
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;

  margin: 0 1rem;
  cursor: pointer;
}

.ai__navbar-links_container p:hover {
  color: #ff4820;
}

.ai__navbar-sign button,
.ai__navbar-menu_container button {
  padding: 0.5rem 1rem;
  color: #fff;
  background: #ff4820;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

.ai__navbar-menu {
  margin-left: 1rem;
  display: none;
  position: relative;
}

.ai__navbar-menu svg {
  cursor: pointer;
}

.ai__navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  text-align: end;
  background: var(--color-footer);
  padding: 2rem;
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0 0 5 rgb(0, 0, 0, 0.2);
}

.ai__navbar-menu_continer p {
  margin: 1rem 0;
}

.ai__navbar-menu_container-links-sign {
  display: none;
}

@media screen and (max-width: 1050px) {
  .ai__navbar-links_container {
    display: none;
  }

  .ai__navbar-menu {
    display: flex;
  }
}

@media screen and (max-width: 700px) {
  .ai__navbar {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 550px) {
  .ai__navbar {
    padding: 2rem;
  }

  .ai__navbar-sign {
    display: none;
  }

  .ai__navbar-menu_container {
    top: 20px;
  }

  .ai__navbar-menu_container-links-sign {
    display: block;
  }

  .ai__navbar-menu_container-links-sign p,
  .ai__navbar-menu_container-links-sign button {
    margin-top: 0.5rem;
  }

  .ai__navbar-menu_container-links p {
    line-height: 2rem;
  }
}
