.section__padding {
  padding: 32px 96px;
}

.ai__header {
  display: flex;
}

.ai__header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  margin-right: 5rem;
}

.ai__header-content h1 {
  font-family: var(--font-family);
  font-weight: 800;

  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
}

.ai__header-content p {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: var(--color-text);

  margin-top: 1.5rem;
}

.ai__header-content__input {
  width: 100%;
  margin: 2rem 0 1rem;

  display: flex;
}

.ai__header-content__input input {
  flex: 2;
  width: 100%;
  min-height: 50px;
  background: #052d56;
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 27px;
  color: var(--color-footer);
  border: none;
  padding: 0 1rem;
  color: #fff;
  outline: none;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.ai__header-content__input button {
  flex: 0.6;
  width: 100%;
  min-height: 50px;
  background: #ff4820;
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #fff;
  cursor: pointer;
  outline: none;
  padding: 0 1rem;
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.ai__header-content__people {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-top: 2rem;
}

.ai__header-content__people img {
  width: 181px;
  height: 38px;
}

.ai__header-content__people p {
  margin: 0 0 0 1rem;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 38px;
  color: #fff;
  text-align: center;
}

.ai__header-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ai__header-image img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1050px) {
  .ai__header {
    flex-direction: column;
  }

  .ai__header-content {
    margin: 0 0 3rem;
  }
}

@media screen and (max-width: 650px) {
  .ai__header h1 {
    font-size: 48px;
    line-height: 60px;
  }

  .ai__header p {
    font-size: 16px;
    line-height: 24px;
  }

  .ai__header-content__people {
    flex-direction: column;
  }

  .ai__header-content__people p {
    margin: 0;
  }

  .ai__header-content__input input,
  .ai__header-content__input button {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 490px) {
  .ai__header h1 {
    font-size: 36px;
    line-height: 48px;
  }

  .ai__header p {
    font-size: 14px;
    line-height: 24px;
  }

  .ai__header-content__input input,
  .ai__header-content__input button {
    font-size: 12px;
    line-height: 16px;
  }
}
